.wrapper {
}

.login-left-side {
	background: url(../img/login-right-section-image.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.login-left-side header img {
	margin-top: 15px;
	margin-left: 45px;
}

.login-sidebar {
	background-color: #00b3be;
}

.login-sidebar > header {
	text-align: center;
}

.login-sidebar header img {
	margin-top: 70px;
	margin-bottom: 70px;
}

.login-form,
.login-form input {
	width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #f2f2f2;
}

.login-form input {
	background-color: transparent;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 3px solid #fff;
	margin-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.form-btn {
	border: 0;
	background-color: #f2f2f2;
	color: #4a4a4a;
	text-align: center;
	text-transform: capitalize;
	padding: 7px 15px;
}

.btn-stretched {
	width: 100%;
}

.submit-btn {
	margin-top: 30px;
}

.sign-buttons {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 30px;
}

.sign-buttons a {
	text-decoration: none;
}



/* MEDIA QUERIES */

@media (min-width: 768px) {
	.login-left-side,
	.login-sidebar {
		min-height: 100vh;
	}
}

@media (max-width: 767px) {
	.login-left-side,
	.login-sidebar {
		min-height: 50vh;
	}
}